nav{
    display: inline-block;
    margin-top: 5%;
    width: 100%;
    a{
        margin-left: 5%;
        border: 5px solid black;
    }
    
}

h1{
    display: inline-block;
    text-align: center;
    background-color: red;
    width: 100%;
    position: fixed;
}

h2{
    display: inline-block;
    text-align: center;
    background-color: blue;
    width: 100%;
    margin-top: 1%;
}

input[type="search"]{
    width: 70%;
    padding: 5px;
    margin-top: 20px;
    font-size: 16px;
    border: 4px solid #ccc;

}
#rechercher{
    margin-left: 10%;
    display: inline-block;
}

footer{
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    font-style: oblique;
    position: fixed;
    bottom: 0;
    text-align: center;
}

#formDeco{
    display: inline-block;
    position: fixed;
}

#Deco{
    background-color: blue;
    border: none;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    position: fixed;     
    right: 20px;
}

#tableauStock{
    border: 2px solid black;
    border-radius: 2px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-auto-rows: auto;
    margin: 5px;
    text-align: center;
    .TitreColonne{
        font-weight: bold;
        border-bottom: 2px solid black;
    }
}

.TransactionsDuJour{
    width: 80%;
    margin-left: 10%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-auto-rows: auto;
    text-align: center;
}
.ligneRecette{
    border: 2px solid black;
}