header{
    width: 100%;
    height: 10%;
    background-color: black;
    color: white;
    font-style: oblique;
    position: fixed;
    top: 0;
    text-align: center;
}


h2{
    display: inline-block;
    text-align: center;
    background-color: blue;
    width: 100%;
    margin-top: 5%;
}
input[type="search"]{
    width: 70%;
    padding: 5px;
    margin-top: 20px;
    font-size: 16px;
    border: 4px solid #ccc;

}
table{
    margin-top: 1%;
    tr{
        background-color: pink;
        td{
            width: 5%;
            text-align: center;
        
        }
    }
    margin-bottom: 10%;
}
footer{
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    font-style: oblique;
    position: fixed;
    bottom: 0;
    text-align: center;
}